html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.quiz {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden; }

.text {
  overflow-y: scroll; }

.question {
  position: absolute;
  max-width: calc(100% - 20px);
  width: auto;
  transition: all .2s; }
  .question p {
    padding: 10px;
    margin-bottom: 0px;
    text-align: left; }
  .question__title {
    font-style: italic; }
  .question__answer {
    cursor: pointer;
    transition: all .2s; }
    .question__answer:hover {
      background-color: #f2f2f2;
      color: ligthen(#000, 10%); }

.passage__copy {
  letter-spacing: 1.1px;
  margin: 0 0 16px;
  font-weight: 200; }
.passage__highlight {
  color: #666;
  padding: 3px 0px;
  background-color: #eee; }
  .passage__highlight:before, .passage__highlight:after {
    content: "";
    background-color: #37474f; }

.mdl-layout__drawer {
  padding: 10px; }
  @media (min-width: 1200px) {
    .mdl-layout__drawer {
      width: 450px;
      transform: translateX(-450px); } }

.mdl-layout--fixed-drawer > .mdl-layout__content {
  padding: 10px; }
  @media (min-width: 1200px) {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
      margin-left: 450px; } }

.example-enter {
  opacity: 0.01;
  left: 100%; }

.example-enter.example-enter-active {
  opacity: 1;
  left: 0%;
  transition: all 500ms ease-in; }

.example-leave {
  opacity: 1;
  left: 0%; }

.example-leave.example-leave-active {
  opacity: 0.01;
  left: -100%;
  transition: all 300ms ease-in; }

/*# sourceMappingURL=index.css.map */
